body {
    background-color: #3f3a3a;
    text-align: center;
    color: white;

}

.owl {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

table {
    border: 1px solid gray;
    margin: auto;
}

th, td {
    border: 1px solid gray;
}

/* add an attribute of color:CHARTREUSE; in your main.css for all elements that have a class of cabbage */
.cabbage {
    color: chartreuse;
}


